body {
  font-family: "DM Sans", sans-serif;
  background-color: #eeeff1;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  /* sticky or fixed are fine */
  position: fixed;
  top: 0;
  height: 69px;
  width: 100%;
  /* background when scroll is in the top */
  transition: background 0.5s; /* control how smooth the background changes */
}

nav.scrolled {
  background: #eeeff1;
}

.card {
  border: none;
  cursor: pointer;
}

.font-portfolio {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #535354;
  font-weight: bold;
}

/* Introduction */

.intro {
  margin-top: 100px;
}

.intro h1 {
  margin-top: 150px;
  font-size: 60px;
}

.intro p {
  font-size: 25px;
  font-family: "Poppins";
}
/* About */
.about {
  margin-top: 100px;
  padding: 120px;
  height: 500px;
}

.about p {
  font-size: 20px;
}
/* Contact */
.contact {
  margin-top: 100px;
  height: 100%;
}

.contact {
  border: 1px solid;
  padding: 25px;
  margin: 100px;
  border-radius: 30px;
}
.form-label {
  color: #8f929e;
}
.contact h3 {
  font-size: 60px;
}

.contact .form-control {
  border: none;
  height: 50px;
}
/* Portfolio */
.portfolio {
  margin-top: 100px;
  height: 100%;
}

/* Footer */
footer ul a {
  text-decoration: none;
  font-family: "Poppins";
  color: rgb(151, 147, 147);
}

footer ul a:hover {
  color: #000;
}

/* Responsive */
/* Potrait */
/* Lanscape */
@media only screen and (max-width: 600px) {
  .intro img {
    margin-left: 20px !important;
    width: 300px;
    height: 100%;
  }
  .about {
    padding: 0px !important;
  }

  .contact {
    border: 1px solid;
    padding: 10px;
    margin: auto 10px;
    border-radius: 30px;
    margin-bottom: 30px;
  }

  footer ul .h5 {
    margin-left: -30px;
  }
  footer ul a {
    margin-left: -30px;
    text-decoration: none;
    font-family: "Poppins";
    color: rgb(151, 147, 147);
  }
}
